<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>###TITLE###</title>
<script  type="text/javascript" src="menu-top.js"></script>
<link rel="stylesheet" type="text/css" href="real.css">
<link rel="stylesheet" type="text/css" href="base.css">


<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">

</head>

<body>


	<div id="container">
        <div id="header">
			<div style="position: relative; left: 300px; top:5px;">
				Ti trovi in: ###TITLE###
			</div>
			

			<div id="menutitolo" style="position: relative; left: 300px; top:12px;">
				<a href="link1.php" onMouseover="showtext('link1')" onMouseout="hidetext()">link1</a>
				<a href="link2.php" onMouseover="showtext('link2')" onMouseout="hidetext()">link2</a>
				<div id="tabledescription" style="position: relative; top:5px;"></div>
			</diV>
			
			
				
		</div>
        
		<div id="navigation">
			###NAVIGATION###
		</div>
        
		<div id="content">
			###CONTENT###
		</div>
        
		<div id="footer">
				###FOOTER###
		</div>
    </div>
</body>
</html>
